<div class="header">
  <div class="container">
    <button (click)="profileClick()">
            <img src="{{getImageFilePath()}}assets/icon/profile-sm.png?raw=true"/>
        </button>
  </div>
  <div class="container">
    <button (click)="homeClick()">
            <img src="{{getImageFilePath()}}assets/icon/logo-blue-sm.png?raw=true"/>
        </button>
  </div>
  <div class="container">
    <button (click)="chatClick()">
            <img src="{{getImageFilePath()}}assets/icon/chat-sm.png?raw=true"/>
        </button>
  </div>
</div>